<form [formGroup]="dataForm" class="personal-form">
  <table class="personal-table" cellspacing="0">
    <tr>
      <td><mat-form-field class="name">
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" [(ngModel)] ="name" matInput>
      </mat-form-field>
      </td>
    </tr>
    name : {{name}}
    <tr>
      <td>
        <mat-form-field class="lastname">
          <mat-label>Lastname</mat-label>
          <input type="text" formControlName="lastname" matInput required>
        </mat-form-field>
        <button (click)="prueba()">askdfh</button>
      </td>
    </tr>
  <tr>
    <td>
      <mat-form-field class="user-email">
        <mat-label>Ingresa tu correo electrónico</mat-label>
        <input matInput type="email" placeholder="micorreo@example.com" formControlName="email" required>
        <mat-error *ngIf="email!.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="user-phone">
        <mat-label>Phone number</mat-label>
        <input matInput type="tel" placeholder="1234567890" formControlName="phone" required>
      </mat-form-field>
    </td>
  </tr>
  <app-photo-cv></app-photo-cv>
  <tr>
    <mat-form-field>
      <mat-label>Job profile</mat-label>
      <textarea matInput #input maxlength="500" placeholder="Perfil"></textarea>
      <mat-hint>{{input.value.length}}/500</mat-hint>
    </mat-form-field>
  </tr>
  </table>


